@use '../../Foundation/variable' as v;

.c-button{
    &__header{
        width:136px;
        height: 46px;
        color: v.$grey;
        background-color: v.$lightGrey;
        border: 3px v.$grey;
        border-radius: 10px;
        text-align: center;
    }   
}