@use '../../Foundation/variable' as v;

.c-button{
    &__header{
        width:30%;
        height: 46px;
        color: v.$grey;
        background-color: v.$lightGrey;
        border: 1px solid v.$grey;
        border-radius: 10px;
        text-align: center;
        @extend %MPlus;
    }   
}