@use '../../Foundation/variable' as v;
@use '../../Foundation/mixin' as m;
.c-button{
    &__header{
        width:30%;
        height: 46px;
        color: v.$grey;
        background-color: v.$lightGrey;
        border: 1px solid v.$grey;
        border-radius: 10px;
        text-align: center;
        @extend %MPlus;
    }   
}

.c-button{
    &__about{
        display: block;
        width:164px ;
        height: 43px;
        margin: 0 auto;
        border-radius: 30px;
        color: v.$grey;
        background-color: #fff;
        text-align: center;
        &>a{
            font-weight: 700;
            font-size: 16px;
            @extend %MPlus;
        }
        @include m.pc{
            width: 292px;
            height: 76px;
        }
    }
}