@use '../../Foundation/mixin' as m;
.c-cover{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.405);
    z-index: 100;
    display: none;
    opacity: 0;
    &.active{
        display: block;
        opacity: 1;
        transition: .5s;
        @include m.pc{
            display: none;
        }
    }
}