@use '../../Foundation/variable'as v;
.c-form{
    &__header{
        width: 60%;
        height: 46px;
        display: block;
        position: relative;
        background-color: #fff;
        border: 1px solid v.$grey;
        border-radius: 10px 8px 10px 10px;
        &>i{
            position: absolute;
            top: calc(50% - 10.7px);
            left: 8px;
            font-size: 1.5rem;
            color:v.$grey;
        }
    }

}