@use '../../Foundation/variable'as v;
.c-form{
    &__header{
        width: 216px;
        height: 46px;
        display: block;
        
    }
    &::before{
        content: '';
        position: absolute;
        border: 2px v.$grey;
        border-radius: 10px 8px 10px 10px;
    }
}