@use '../../Foundation/mixin' as m;
.c-line{
    &__main{
        width: 33.89px;
        height: 2px;
        border: 3px solid #fff;
        @include m.pc{
            width: 60px;
        }
    }

    &__map{
        width: 75px;
        height: 1px;
        border: 1px solid #FFFFFF;
        margin-bottom: 15px;
        @include m.pc{
            margin-bottom: 40px;
        }
    }
}