@use '../../Foundation/variable' as v;
@use '../../Foundation/mixin' as m;
// global=========
.c-textbox{
    &__menu-text{
        font-size: 20px;
        font-weight: 400;
        @extend %MPlus;
        color: v.$grey;
    }
}

.c-textbox{
    // basic
    &--basic{
        @extend %MPlus;
        padding-top: 0px;
        margin-bottom: 60px;
    }
    &__title--basic{
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    &__text--basic{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}
// frontpage=========
.c-textbox{
    &__frontpage{
        width: 100%;
    }
    &__frontpage-item{
        color: v.$brown;
        @extend %MPlus;
        background: #FFFFFFCC;
        width: 100%;
    }
    &__frontpage-title{
        font-size: 24px;
        font-weight: 700;
    }
    &__frontpage-text{
        font-size: 16px;
        font-weight: 400;
        line-height: 23.36px;
    }
}
// map
.c-textbox{
    &__map{
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        color: #FFFFFF;
        line-height: 44.55px;
        @include m.tab{
            line-height: 33px;
        }
    }
}

// archive ==========

// card
.c-textbox{
    &__card-archive{
        font-size: 16px;
        font-weight: 400;
        line-height: 23.78px;
    }
}

