@use '../../Foundation/mixin' as m;

    .u-display{
        &__flex{
            display: flex;
            &-column{
                display: flex;
                flex-direction: column;
                &--pc{
                    @include m.pc{
                        display: flex;
                        flex-direction: column;
                }
                }
            }
            &-row-reverse{
                display: flex;
                flex-direction: row-reverse;
                &--pc{
                    @include m.pc{
                    display: flex;
                    flex-direction: row-reverse;
                }
            }
        }
    }
}