@use '../../Foundation/mixin' as m;

@include m.pc{
    .u-display{
        &__flex{
            &.-pc{
                display: flex;
                flex-direction: row-reverse;
                margin-left: calc(50% - 50vw);
                margin-right: calc(50% - 50vw);
            }
        }
    }
}