.p-map{
    height: 691px;
    background-image:url(../../images/map.png);
    position: relative;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    &__texts{
        padding: 40px;
        // overflow:hiddenを効かせるため（55%*x=100% →　x=1.81818182 ←.p-mapのheight) 1.6にしたのはその高さよりも少し小さくするため
        height: 100% * 1.6; 
        overflow: hidden;
    }
}

.p-map__cover{
    width: 100%;
    position: absolute;
    &--1{
        height: 100%;
        background-color: rgba(0, 0, 0, 0.21);
        z-index: 100;
    }
    &--2{
        height: 55%;
        background-color: rgba(0, 0, 0, 0.358);
    }
}