@use '../../Foundation/mixin' as m;
.p-map{
    height: auto;
    background-image:url(../../images/map.png);
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    @include m.pc{
        margin: 0;
    }
    position: relative;
    &__textbox{
        
    }
    &__container{
        padding: 60px 40px 60px 40px;
        @include m.pc{
            padding: 80px 90px 80px 90px;
        }
    }
}

.p-map__cover{
    width: 100%;
    position: absolute;
    &--1{
        height: 100%;
        background-color: rgba(0, 0, 0, 0.21);
        z-index: 100;
    }
    &--2{
        height: 55%;
        background-color: rgba(0, 0, 0, 0.358);
        @include m.tab{
            height: 100%;
        }
        @include m.pc{
            width: 65%;
        }
    }
}