@use '../../Foundation/mixin' as m;

.p-search-box{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

@include m.pc{
    .p-search-box{
        width: 45%;
        margin: 0;
    }
}

