@use '../Foundation/variable'as v;
@use '../Foundation/mixin' as m;

.l-footer{
    height: 150px;
    margin-left: calc(50% - 50vw); 
    margin-right: calc(50% - 50vw);
    background-image:url(../../images/footer-layer.jpg) ;
    padding: 20px;
    position: relative;
    &__title{
        font-size: 18px;
        font-weight: 400;
        color: #FFFFFF;
        text-align: center;
        @extend %MPlus;
    }
    &__copyright{
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
        position: absolute;
        bottom: 5%;
        left: calc(50% - 70px);
        @extend %MPlus;
    }
}