@use '../Foundation/variable' as v;
@use '../Foundation/mixin' as m;

// ヒーローエリア---------------
.l-main{
    &__hero{
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        width: 100vw ;
        height: 285px;
        position: relative;
        margin-bottom: 40px;
        @include m.tab{
            margin-bottom: 50px;
        }
        @include m.pc{
            margin: 0;
            width: 100%;
            margin-bottom: 40px;
        }
    }
    &__hero-text{
        position: absolute;
        top:calc(50% - 18px) ;
        left: 25px;
        font-size: 36px;
        font-weight: 700;
        color: #fff;

    }
    &__content{
        @include m.pc{
            padding: 0 20px;
        }
    }
    &__about{
        @include m.tab{
            display: flex;
            justify-content: space-between;
        }
        @include m.pc{
            margin: 0 30px;
        }
    }
}

//  サブタイトル付きヒーローエリア==================

.l-main{
    &__hero-text{
        &.-big{
            @include m.tab{
                font-size: 60px;
                top: calc(50% - 30px);
                left: 65px;
            }
        }
        &.-small{
            font-size: 16px;
            top: 62%;
            @include m.tab{
                top: calc(50% - 2px);
                left: 285px;
            }
        }
    }
    &__hero-cover{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.442);
    }
}

// タイトルとテキスト

.l-main{
    &__introdaction{
        @extend %MPlus;
        padding-top: 0px;
        margin-bottom: 60px;
        &-title{
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 30px;
        }
        &-text{
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }
    }
}




